# The following options will be passed to all mysql clients
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock

# Here follows entries for some specific programs

# The mysql server
[mysqld]
port            = 3306
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = ${MYSQL_DATA_DIR:-/var/lib/mysql}
character_set_server = ${MYSQL_CHARSET:-utf8mb4}
collation_server = ${MYSQL_COLLATION:-utf8mb4_bin}
authentication_policy = "${MYSQL_AUTHENTICATION_PLUGIN:-mysql_native_password},,"
binlog_expire_logs_seconds = 864000
innodb_buffer_pool_size = ${MYSQL_INNODB_BUFFER_POOL_SIZE:-256M}
innodb_buffer_pool_instances = ${MYSQL_INNODB_BUFFER_POOL_INSTANCES:-1}
innodb_log_buffer_size = 32M
innodb_redo_log_capacity = 134217728
join_buffer_size = 2M
key_buffer_size = 16M
max_allowed_packet = ${MYSQL_MAX_ALLOWED_PACKET:-64M}
max_binlog_size = 100M
max_connections = 400
max_heap_table_size = 512M
myisam-recover-options = BACKUP
secure-file-priv = ""
skip-external-locking
skip_name_resolve = 1
table_open_cache = 200000
thread_cache_size = 8
thread_stack = 256K
tmp_table_size = 512M
tmpdir = /tmp
transaction-isolation = READ-COMMITTED
skip-name-resolve
optimizer_search_depth = 0
innodb_flush_log_at_trx_commit = 0

!includedir /etc/mysql/conf.d
