name: dependency review
on:
  pull_request:
    branches:
    - main
  merge_group:
    types:
    - checks_requested
permissions: {}
jobs:
  dependency-review:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/dependency-review-action@05fe4576374b728f0c523d6a13d64c25081e0803 # v4.8.3
      with:
        config-file: .github/dependency-review-config.yaml
