name: dependency review
on:
  pull_request:
    branches:
    - main
  merge_group:
    types:
    - checks_requested
permissions: {}
jobs:
  dependency-review:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
      with:
        config-file: .github/dependency-review-config.yaml
